/* =====================================  */
/**

STYLES for: Dani Krossing tutorial notes

*/


html {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

html * {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  border: solid #444 1px;
  padding: 2rem;
  min-height: 100vh;
  width: 80vw;
  align-items: center;
  text-align: center;
}

/* BLOCKQUOTE: Default */

blockquote {
  padding: 0.6rem 1rem 0.8rem 1rem;
  margin: 1rem;
  border: solid 1px;
  border-left: solid #333 6px;
  display: table;
}


/* FORMS */

form {
  background: #f8f8e0;
  align-items: center;
  width: 400px;
  padding: 1rem;
  border: dashed blue 1px;
  margin: 1rem auto;
}

input {
  display: block;
  margin-bottom: .8rem;
  padding: .4rem;
  width: 100%;
}

button {
  width: 100%;
  padding: 1rem;
  background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}


/* VALIDATION */

.error {
  color: red;
  border: solid 2px brown;
  border-radius: 1.1rem;
  padding: .2rem 1rem;
  display: inline-block;
  background: rgb(251, 212, 218);
}

.success {
  color: green;
  border: solid 2px forestgreen;
  border-radius: 1.1rem;
  padding: .2rem 1rem;
  display: inline-block;
  background: rgb(212, 251, 224);
}