/* =====================================  */


/* BLOCKQUOTE: Default */

blockquote {
  padding: .6rem 1rem .8rem 1rem;
  margin: 1rem;
  border: solid 1px;
  border-left: solid #333 6px;
  display: table;
}

p {
  text-align: center;
  font-size: 120px;
  font-family: Arial;
  margin-top: 38vh;
}






























